@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yose The Game</title>
</head>
<body>
    <h1>Hello Yose</h1>
</body>
</html>
